.bottomNewsWrapper {
  display: flex;
  flex-direction: column;
}
.bottomNews {
  display: flex;
  gap: 52px;
  flex-wrap: wrap;
  margin-top: 39px;
}

.bottomNewsWrapper > span {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 20px;
  color: var(--title-text-color);
  margin-bottom: 14px;
}
