.mainHeader {
  display: flex;
  flex-direction: row;
  width: 1440px;
}

nav > ul > li {
  display: inline-block;
}

.btn-my-account {
  font-family: var(--title-font);
  size: 14px;
  line-height: 17.5px;
  font-weight: 400;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--primary-text-color);
  border-radius: 12px;
  color: var(--title-text-color);
  padding: 4px 16px;
}