@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lexend+Deca:wght@400;500&display=swap');

:root {
  --title-font: 'Lexend Deca', sans-serif;
  --text-font: 'Inter', sans-serif;
  --main-bg-color: #13131f;
  --primary-text-color: #8257e6;
  --secondary-text-color: #c4c4c4;
  --title-text-color: #fefbfb;
}

html,
body,
h1,
h2,
h3,
span {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-bg-color);
  padding: 10px 0;
}

#root {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1120px;
}

a {
  text-decoration: none;
}