@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Lexend+Deca:wght@400;500&display=swap');

:root {
  --title-font: 'Lexend Deca', sans-serif;
  --text-font: 'Inter', sans-serif;
  --primary-text-color: #8257E6;
  --secondary-text-color: #C4C4C4;
  --title-text-color: #FEFBFB;
}

