.primaryNewsWrapper {
  display: flex;
  padding: 0 16px;
  margin-bottom: 50px;
}

.secondaryNewsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
}

.latestNewsListWrapper {
  padding: 0 16px;
  width: 715px;
  height: 600px;
  overflow-y: scroll;
}

.latestNewsListWrapper::-webkit-scrollbar {
  width: 8px;
}

.latestNewsListWrapper::-webkit-scrollbar-thumb {
  background: var(--primary-text-color);
}

.latestNewsListWrapper::-webkit-scrollbar-track {
  background: #282830;
  width: 12px;
}

.latestNewsListWrapper::-webkit-scrollbar-thumb:hover {
  opacity: 90%;
}
