.primaryNewsWrapper {
  display: flex;
  margin-bottom: 50px;
  gap: 21px;
}

.secondaryNewsWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.latestNewsWrapper {
  display: flex;
  gap: 20px;
}

.latestNewsListWrapper {
  width: 762px;
  height: 895px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.latestNewsListWrapper::-webkit-scrollbar {
  width: 8px;
}

.latestNewsListWrapper::-webkit-scrollbar-thumb {
  background: var(--primary-text-color);
}

.latestNewsListWrapper::-webkit-scrollbar-track {
  background: #282830;
  width: 12px;
}

.latestNewsListWrapper::-webkit-scrollbar-thumb:hover {
  opacity: 90%;
}

.sideBarNewsWrapper {
  display: flex;
  flex-direction: column;
}

.sideBarNewsWrapper > span {
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 20px;
  color: var(--title-text-color);
  margin-bottom: 14px;
}

.sideBarNews {
  display: flex;
  flex-direction: column;
  gap: 47px;
  margin-top: 14px;
}
